.popup__button {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    background: #000000;
    color: #fff;
    padding: 14px 0;
    max-width: 358px;
    text-align: center;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.popup__button:hover {
    background: #000000;
    opacity: 0.8;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

@media screen and (max-width: 1023px) {
    .popup__button {
        font-size: 14px;
        line-height: 18px;
        min-width: 238px;
        margin-top: 45px;
    }
}