.profile {
    margin: 40px auto 51px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .profile {
        max-width: calc(100% - 2 * 19px);
    }
}

@media screen and (max-width: 768px) {
    .profile {
        margin: 42px auto 36px;
        flex-direction: column;
    }
}